@import "variables";
@import "headings";

li {
  text-align: center;
}

.days {
  font-size: 0.5em;
  padding: 20%;
  margin-left: 25%;
  margin-right: 25%;


}

h1 {
  text-align: center;
  color: black;

}
