doctype html
html(lang="en")
  head
    title Weather Together
    link(rel="stylesheet" href="vendor/foundation/css/foundation.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/vendor/modernizr.js")
  body
    ul.small-block-grid-5


    script(src="js/main.js")
    script.
      $(document).foundation();

